@import "base.css";

.section#hero {
	background-image: url("../assets/imgs/niagara.JPG");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: -1;
}

.nav {
	z-index: 1;
}

.circular {
	border-radius: 50%;
	height: 55vh;
	width: 55vh;
	background-size: cover;
	background-position: center;
}

.section#about {
	margin-top: 100vh;
	height: 70em;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	border-radius: 40px;
	padding: 2em 4em;
}

.content#about {
	background-color: rgba(255, 255, 255, 0.8);
	margin-right: 2%;
}

.button-menu {
	margin-top: 1em;
	text-align: center;
}

.quote {
	font-family: relic;
	font-size: 1.6em;
	text-align: center;
	padding: 1em;
}

.quote#wilderness {
	background-color: white;
	box-shadow: 0px 50px 100px 10px black;
	position: relative;
}

.quote#great-world {
	background-color: #0e0e3f;
	color: silver;
	box-shadow: 0px 10px 50px 50px black;
}

.section#timeline {
	background-size: cover;
	background-attachment: fixed;
}


.cd-timeline-content .cd-date {
  font-size: 28px;
  opacity: 1.0;
}

.cd-timeline-content p {
	font-size: 1.3rem;
}

.section#contact {
	background-color: white;
	text-align: center;
	padding: 1em 0;
}

.cd-timeline-content {
	text-align: center;
}

.cd-timeline-content .cd-date {
	padding: 0.5em 0;
	text-align: center;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-content .cd-date {
		padding: 1.4em 0;
		text-align: left;
	}
}

#loading-screen {
	background-color: white;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 3;
}

#loading {
	position: fixed;
	top: 42vh;
	left: 47vw;
	font-size: 3em
}
